@media only screen and (min-width: 1600px) {
  .project.active {
    .content{
      img{
        max-height: 800px;
      }
    }
    img{
      max-height: 800px;
    }
  }
  iframe, embed, object{
    max-height: 800px;
  }
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 28px;
  }
  .navigation{
    .menu{
      top: 0;
      padding-top: 0px;
      padding-bottom: 50px;
      background-color: white;
      width: 100%;
      left: 0;
      padding-left: 14px;
      img{
        width: 80px;
      }
      .menu-icon{
        width: 40px;
      }
    }
  }
  nav{
    width: 100vw;
  }
  .themeMenu{
    top: 30px;
    justify-content: start;
    width: 100%;
    padding-left: 9px;
    a{
      font-size: 15px;
      margin: 0 5px;
    }
  }
  .sub-menu{
    top: 70px;
    justify-content: start;
    width: 100%;
    padding-left: 9px;
    flex-direction: column;
    a{
      font-size: 14px;
      margin: 0 5px 5px 5px;
    }
  }
  .projects{
    margin-top: 30px;
  }
  .sub .projects{
    margin-top: 110px;
  }
  iframe, embed, object{
    width: 100vw;
    height: auto;
  }
  .project{
    width: 100%;
    .info{
      margin-left: 0;
      width: 50vw;
      white-space: wrap!important;
    }
    img{
      min-width: 70%;
      width: 70%;
    }
    .project-info{
      .project-info-item{
        p{
          font-size: 16px;
        }
      }
    }
    &.active{
      img{
        width: 200%;
        min-width: 200%;
        height: 100%;
        max-height: 70vh;
      }
      .description{
        min-width: 95vw;
        width: 95vw;
      }
      .content{
        img{
          width: 100vw;
          min-width: 100vw;
          height: auto;
          max-height: 100%;
        }

      }
    }
  }
  .page {
    padding: 0 10px;
    padding-bottom: 48px;
    h1{
      margin: 0;
      font-size: 36px;
    }
    .columns{
      margin-top: 24px;
      .column{
        width: 100%;
        img{
          width: 100%;
          margin: 0;
        }
      }
    }
  }
  .page .images{
    flex-wrap: wrap;
    .image-item{
      margin-bottom: 24px;
    }
  }
  .image-info img, .image-item img{
    width: calc(100% - 100px);
  }
  .spacer{
    height: 70px;
  }
  .pageLoader{
    .title{
      font-size: 24px;
      white-space: nowrap;
      div{
        margin-right: 5px;
      }
    }
  }
}