$purple: #3F387B;
$white: #fff;

$title: 24px;
$sub: 20px;
$body: 18px;
$small: 14px;

body{
  color: $purple;
  font-family: 'Gill Sans';
}

*{
  box-sizing: border-box;
}

header{
  height: 60px;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 36px;
}

p{
  line-height: 1.3;
  font-weight: 100;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  border: 1px solid $purple;
}

.quote{
  font-weight: 500;
  font-style: italic;
  line-height: 1;
  font-size: $sub;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  padding: 14px 48px;
}

.navigation{
  .menu{
    position: fixed;
    top: 14px;
    left: 14px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    z-index: 3;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      border: none;
    }
    .logo{
      position: absolute;
      height: 100%;
      transition: all 0.4s ease;
    }
    .menu-icon{
      position: absolute;
      opacity: 0;
      transform: scaleY(0);
      transition: all 0.4s ease;
    }
    &:hover{
      .menu-icon{
        opacity: 1;
        transform: scaleY(1);
      }
      .logo{
        opacity: 0;
        transform: scaleY(0);
      }
    }
  }
}

nav{
  opacity: 0;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: white;
  padding: 14px;
  transition: all 0.4s ease;
  z-index: 999;
  &.active{
    opacity: 1;
    left: 0;
  }
  .menu-link{
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: $small;
    a{
      text-decoration: none;
      color: $purple;
    }
  }
}


.themeMenu{
  display: flex;
  position: fixed;
  top: 0;
  padding: 16px 0 16px 0;
  justify-content: center;
  width: 100%;
  left: 0;
  background-color: white;
  a{
    margin: 0 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: $purple;
    font-size: $title;
    &.true{
      font-weight: 700;
    }
  }
}

.sub-menu{
  display: flex;
  position: fixed;
  top: 50px;
  padding: 0 0 10px 0;
  justify-content: center;
  width: 100%;
  left: 0;
  background-color: white;
  a{
    margin: 0 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: $purple;
    font-size: $sub;
    &.true{
      font-weight: 700;
    }
  }
}

.projects{
  width: 100%;
  margin-top: 48px;
  overflow-x: hidden;
}

.project{
  display: flex;
  margin: auto;
  margin-bottom: 24px;
  cursor: pointer;
  width: 500px;
  .info{
    width: 100%;
    text-align: right;
    margin-right: 14px;
    margin-left: calc(50% - 500px);
  }
  p{
    margin: 0;
  }
  .title{
    font-weight: 500;
  }
  .location{
    font-weight: 100;
  }
  img{
    width: 500px;
    min-width: 500px;
    height: auto;
  }
  .description, .images{
    display: none;
  }
  &.active{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    img{
      width: auto;
      min-width: auto;
      height: 85vh;
      object-fit: cover;
      display: inline-block;
    }
    .description{
      display: inline-block;
      width: 300px;
      min-width: 300px;
      white-space: initial;
      margin-left: 24px;
      p{
        margin-bottom: 14px;
      }
    }
    .images{
      display: flex;
      img{
        width: 600px;
        min-width: 600px;
        height: auto;
        max-height: 85vh;
        display: inline-block;
        margin-left: 24px;
      }
    }
  }
}

.page{
  max-width: 1250px;
  margin: auto;
  padding-bottom: 100px;
  h1{
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
  }
  .columns{
    h2{
      width: 100%;
      font-weight: 100;
    }
    display: flex;
    flex-wrap: wrap;
    .column{
      width: 32%;
      margin-right: 2%;
      &:nth-child(3){
        margin-right: 0;
      }
    }
    .title{
      text-transform: uppercase;
    }
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.image-info, .image-item{
  display: flex;
  .info{
    width: 80px;
    margin-right: 24px;
    text-align: right;
    p{
      margin-top: 0;
    }
  }
  img{
    width: 600px;
  }
}

.images{
  display: flex;
  align-items:flex-start;
  align-content:flex-start;
  .image-item{
    margin-right: 2%;
    width: 100%;
    &:nth-child(3){
      margin-right: 0;
    }
    img{
      width: calc(100% - 104px);
      height: auto;
    }
  }
}

.pageLoader{
  background-color: $purple;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  color: $white;
  animation: pageloaderAnimation3 1s ease-in-out 2.5s 1;
  animation-fill-mode: forwards;
  .title{
    font-weight: 500;
    font-size: 48px;
    animation: pageloaderAnimation 2s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    div{
      display: inline-block;
      animation: pageloaderAnimation2 1.5s ease-in-out 1.5s 1;
      animation-fill-mode: forwards;
      overflow: hidden;
      max-width: 100%;
      margin-right: 5px;
    }
  }
}

@keyframes pageloaderAnimation {
  0%   {top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0);}
  50%   {top: 50%; left: 50%; transform: translate(-50%, -50%) scale(1);}
  100% {top: 14px; left:14px; transform: translate(0%, 0%) scale(1);}
}

@keyframes pageloaderAnimation2 {
  0%   {max-width: 100%;}
  80% {max-width: 30px;}
  // 80% {max-width: 30px; transform: scale(0.6); margin-right: -10px; margin-top: -14px;}
  100% {max-width: 30px; opacity: 0; transform: scale(0.6); margin-right: -10px; margin-top: -14px;}
}

@keyframes pageloaderAnimation3 {
  0%   {opacity: 1;}
  100% {opacity: 0; display: none; z-index: -1;}
}